---
# Connection details for the primary and secondary members of the HA pair.
primary_ip_address: {{ fw1_ip_address }}
secondary_ip_address: {{ fw2_ip_address }}

# All other playbooks in this repository connect to 'ip_address', so define that as the primary device.
ip_address: {{ fw1_ip_address }}
